.img{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin:0 auto;
  height:200px;
  width:250px;
}

.header{
  width: 100%;
  transition: .3s linear;
  display: flex;
}
.hide{
  opacity: 0;
  transition: .3s linear;
  background-color: white;
  height: 0px;
  width:100%;

}
.show{
  transition: .3s linear;
  display: flex;
  background-color: #807f7e;
  color:white;
  width: 100%; 
  height: 60px;
}
