.img{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin:0 auto;
  height:200px;
  width:250px;
}

.header{
  width: 100%;
  transition: .3s linear;
  display: flex;
}
.hide{
  transition: .3s linear;
  background-color: #964B00;
  height: 0px;
  width:100%;

}
.show{
  transition: .3s linear;
  display: flex;
  background-color: #e9d460;
  width: 100%;
  height: 60px;
}
