.img{
  height:200px;
  width:150px;
}

.header{
  width: 100%;
  transition: .3s linear;
  display: flex;
}
.hide{
  transition: .3s linear;
  background-color: #964B00;
  height: 0px;
  width:0px;

}
.show{
  transition: .3s linear;
  display: flex;
  background-color: #e9d460;
  width: 100%;
  height: 60px;
}

body{
  background-color: #969600;
}
